@import 'normalize';
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import 'variables';

a {
  text-decoration: none;
  color: $dark;
  &:hover {
    color: $highlight;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  min-height: 70vh;
}

.skinny_wrapper {
  width: 80%;
  max-width: 760px;
  margin: 0 auto;
}

.wrapper_padding {
  padding: 4rem 0;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

hr {
  width: 3em;
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid $highlight;
  margin: 2rem 0;
}

#page_title {
  text-align: center;
  border-bottom: 1px solid $border;
  padding: 3em 0;
  font-size: 1rem;
  text-transform: uppercase;
}

.hidden { display: none; }

@import 'wp_specific';
@import 'navigation';
@import 'post_project';
@import 'footer';
@import 'typography';
@import 'welcome';
@import 'comments';
@import 'forms';
@import 'pagination';

@media screen and (max-width: 600px) {
  .wrapper {
    width: 80%;
    .col-1, .col-2, .col-3 { width: 100%; }
  }
}
