.comments-area {
  .comments-title, #respond .comment-reply-title {
    text-align: center;
    padding: 0 0 1em 0;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: $dark;
    font-size: .8em;
  }
  #comments_list {
    padding: 0;
    margin: 1em 0 28.8px 0;
    li {
      padding: 1em;
      border: 1px solid $border;
      list-style-type: none;
      margin-bottom: .5em;
      &::after {
        
      }
    }
    .fn, .says {
      font-size: 1.5rem;
    }
    .avatar {
      margin: 10px;
      float: left;

    }
  }
  #respond {
    p.comment-form-comment {
      margin: 0;
    }
  }
}
