#main_footer {
  padding: 2.5em 5% 4em 5%;
  border-top: 1px solid $border;
  .copyright {
    float: left;
    font-size: .9em;
    margin: 0;
  }
  nav {
    float: right;
    i {
      color: $dark;
      margin-left: 1em;
      padding-top: .2em;
      &:hover {
        color: $highlight;
      }
    }
  }
}
