.pagination {
  .screen-reader-text{ display: none }
  text-align: center;
  margin: 0 0 3em 0;
  a, .prev, .current, .next {
    padding: .75em 1em;
    margin: 0 .5em;
    border-radius: .15em;
    line-height: 20px;
    text-decoration: none;
    background: none;
    font-weight: 700;
    font-size: .7em;
    font-style: normal;
    color: $dark;
    &:hover {
      background: $highlight;
      color: $white;
    }
  }
  .current {
    background: $highlight;
    color: $white;
  }
}

.pagination::before, .pagination::after {
  content: "";
  display: table;
}

.pagination:after {
  clear: box;
}