#posts_wrapper {
  padding: 3em 0;
  .post {
    text-align: center;
    .date {
      font-size: .9em;
      margin: 0;
    }
    h2 {
      margin: 0;
      font-size: 2em;
      text-transform: uppercase;
      a {
        text-decoration: none;
        color: $dark;
        &:hover {
          color: $highlight;
        }
      }
    }
  }
  hr {
    margin: 3em auto;
  }
}

// Posts Show
#post_show_content {
  header {
    text-align: center;
    .date {
      font-size: .9em;
      color: $light;
      margin: 0;
    }
    h1 {
      margin: 0;
    }
  }
  hr {
    margin: 2em auto;
  }
}

// 404 Page
#404 {
  text-align: center;
  hr {
    margin: 2em auto;
  }
}

// Sharebox
#share_box {
  text-align: center;
  p {
    padding: 0 0 1em 0;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: $dark;
    font-size: .8em;
  }
  i {
    color: $dark;
    padding: 1em 1.5em;
    &:hover {
      color: $highlight;
      cursor: pointer;
    }
  }
}
